<%= render 'layerbegin' %>


<style>
    .nav-tabs {
        border-bottom: 0 none;
        background: #ffffff;
    }
    .nav-tabs li a {
        background: transparent;
        border-radius: 0;
        font-size: 16px;
        border: none;
        color: #333;
        padding: 12px 22px;
    }
    .nav-tabs li.active a, .tab .nav-tabs li.active a i {
        border: 0 none;
        background:#0081cc;
        color: #fff;
    }

    .nav-tabs li.active a:hover, .tab .nav-tabs li.active a:hover  {
        border: 0 none;
        background:#0081cc;
        color: #fff;
    }

    .nav-tabs li.active a:visited, .tab .nav-tabs li.active a:visited  {
        border: 10 none;
        background:#0081cc;
        color: #fff;
    }



</style>

<div class="container" style="margin-top: 120px;">
  <h2 class="h2">帮助中心</h2>
  <div class="col-md-3"></div>

  <div class="col-md-8">
    <% @helps.each do |help| %>

        <div class="media" >
          <div class="media-left" >
            <a href=<%= content_path(help) %>>
              <img class="media-object" style="width: 60px;" src=<%=help.contentimg.url %>>
            </a>

          </div>
          <a class="media-body" href=<%= content_path(help) %>>
            <div class="media-body" style="border-bottom: 1px solid #0081cc;">
              <div class="media-heading">
                <span><b><%=help.title %></b></span>
                            <span class="pull-right media-heading">
              <%=help.created_at.strftime('%Y-%m-%d %H:%M:%S')  %>
                  </span>
              </div>

<span class="text-muted">
  <%= help.summary %>
</span>

            </div>
          </a>
        </div>
    <% end %>
  </div>
</div>