<div class="container bs-docs-container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">滚动关键字</div>
    <div class="panel-body">

    </div>

    <!-- Table -->
    <table class="table">
      <th class="text-center">
        关键字
      </th>
      <th class="text-center">名称</th>
      <th class="text-center">操作</th>
      <%@sliderkeywords.each do |sliderkeyword| %>
          <tr>
            <td>
              <%= sliderkeyword.name %>
            </td>

            <td>
              <%= sliderkeyword.keyword %>
            </td>
            <td>
              <%= link_to '编辑',edit_sliderkeyword_path(sliderkeyword) %>
              <%= link_to '删除',sliderkeyword, method: :delete, data: { confirm: '确认删除?' } %>
            </td>
          </tr>
      <% end %>
    </table>

  </div>
  <div class="text-right">
    <%= link_to "新增",new_sliderkeyword_path,class: "btn btn-primary" %>
  </div>
</div>