<style>
    .cd-vertical-nav li:first-of-type a::after {
        /* change icon using image sprites */
        /*background-position: 0px -48px;*/
        content: "\f015";
        color: black;
        font-size: 16px;
        top: 4px;
        font-family: FontAwesome;
        /* fix bug with transitions - set scale(0.01) rather than scale(0) */
        -webkit-transform: translateX(-50%) translateY(4.5em) scale(0.01);
        -moz-transform: translateX(-50%) translateY(4.5em) scale(0.01);
        -ms-transform: translateX(-50%) translateY(4.5em) scale(0.01);
        -o-transform: translateX(-50%) translateY(4.5em) scale(0.01);
        transform: translateX(-50%) translateY(4.5em) scale(0.01);
    }

    .cd-vertical-nav li:nth-of-type(2) a::after {
        /*background-position: 0px -32px;*/
        content: "\f0f7";
        color: black;
        font-size: 16px;
        top: 4px;
        font-family: FontAwesome;
        -webkit-transform: translateX(-50%) translateY(1.5em) scale(0.01);
        -moz-transform: translateX(-50%) translateY(1.5em) scale(0.01);
        -ms-transform: translateX(-50%) translateY(1.5em) scale(0.01);
        -o-transform: translateX(-50%) translateY(1.5em) scale(0.01);
        transform: translateX(-50%) translateY(1.5em) scale(0.01);
    }

    .cd-vertical-nav li:nth-of-type(3) a::after {
        /*background-position: 0px -16px;*/
        content: "\f091";
        color: black;
        font-size: 16px;
        top: 4px;
        font-family: FontAwesome;
        -webkit-transform: translateX(-50%) translateY(-1.5em) scale(0.01);
        -moz-transform: translateX(-50%) translateY(-1.5em) scale(0.01);
        -ms-transform: translateX(-50%) translateY(-1.5em) scale(0.01);
        -o-transform: translateX(-50%) translateY(-1.5em) scale(0.01);
        transform: translateX(-50%) translateY(-1.5em) scale(0.01);
    }

    .cd-vertical-nav li:nth-of-type(4) a::after {
        /*background-position: 0px 0px;*/
        content: "\f201";
        color: black;
        font-size: 16px;
        top: 4px;
        font-family: FontAwesome;
        -webkit-transform: translateX(-50%) translateY(-4.5em) scale(0.01);
        -moz-transform: translateX(-50%) translateY(-4.5em) scale(0.01);
        -ms-transform: translateX(-50%) translateY(-4.5em) scale(0.01);
        -o-transform: translateX(-50%) translateY(-4.5em) scale(0.01);
        transform: translateX(-50%) translateY(-4.5em) scale(0.01);
    }

    .cd-vertical-nav li:nth-of-type(5) a::after {
        /*background-position: 0px 0px;*/
        content: "\f0c0";
        color: black;
        font-size: 16px;
        top: 4px;
        font-family: FontAwesome;
        -webkit-transform: translateX(-50%) translateY(-7.5em) scale(0.01);
        -moz-transform: translateX(-50%) translateY(-7.5em) scale(0.01);
        -ms-transform: translateX(-50%) translateY(-7.5em) scale(0.01);
        -o-transform: translateX(-50%) translateY(-7.5em) scale(0.01);
        transform: translateX(-50%) translateY(-7.5em) scale(0.01);
    }

</style>

<div class="navbar navbar-fixed-top" role="navigation"
     data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);"
     data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="fa fa-bars color-white"></span>
      </button>
      <h1><a  href="index.html" data-0="line-height:90px;" data-300="line-height:50px;" style="font-size: 30px;color:#ffffff"><img src="/sucaiimgs/10/liushushulogo.png" alt="萝卜特甜" style="height: 60px;width: inherit;">&nbsp;&nbsp;&nbsp;刘叔叔</a>
      </h1>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
        <% if request.url.include?('homes') %>
        <li class="active"><a class="smooth" href=<%= homes_path %>>首页</a></li>
            <% else %>
            <li><a class="smooth" href=<%= homes_path %>>首页</a></li>
            <% end %>
        <% if request.url.include?('infos') %>
            <li class="active"><a class="smooth" href=<%= infos_path %>>最新资讯</a></li>
            <% else %>
            <li><a class="smooth" href=<%= infos_path %>>最新资讯</a></li>
            <% end %>
        <% if request.url.include?('projects') %>
            <li class="active"><a class="smooth" href=<%= projects_path %>>工程案例</a></li>
            <% else %>
            <li><a class="smooth" href=<%= projects_path %>>工程案例</a></li>
            <% end %>
        <% if request.url.include?('users') %>
            <li class="active"><a class="smooth" href=<%= users_path %>>用户中心</a></li>
            <% else %>
            <li><a class="smooth" href=<%= users_path %>>用户中心</a></li>
            <% end %>
        <% if request.url.include?('works') %>
            <li class="active"><a class="smooth" href=<%= works_path %>>师傅中心</a></li>
            <% else %>
            <li><a class="smooth" href=<%= works_path %>>师傅中心</a></li>
            <% end %>
        <% if request.url.include?('myhelps') %>
            <li class="active"><a class="smooth" href=<%= myhelps_path %>>帮助中心</a></li>
            <% else %>
            <li><a class="smooth" href=<%= myhelps_path %>>帮助中心</a></li>
            <% end %>
        <% if request.url.include?('abouts') %>
            <li class="active"><a class="smooth" href=<%= abouts_path %>>关于我们</a></li>
            <% else %>
            <li><a class="smooth" href=<%= abouts_path %>>关于我们</a></li>
            <% end %>
      </ul>
    </div>
    <!--/.navbar-collapse -->
  </div>
</div>