<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="sogou_site_verification" content="fcg3eT86O1"/>
    <meta name="360-site-verification" content="1d2c4c4fd89a33e47356401e9da3330a"/>
    <title>刘叔叔安装平台</title>
    <meta name="keywords" content="刘叔叔,安装平台,技工,安装师傅,防火门,防盗门,套装门,上门维修">
    <meta name="description" content="刘叔叔安装平台，刘叔叔是一款专注于室内各类门安装维护的o2o类移动互联网平台APP，可以为用户提供提快速上门安装维护服务。维系着众多厂家、经销商、保修用户和大批专业安装师傅，拥有数百位经验丰富的安全门、防火门、室内门的安装师傅。我们致力于为用户提供上门的安全门、防火门、各种室内门的安装、保养等全生命的周期服务、刘叔叔价格透明、上门及时、服务规范，将以专业的技术、极致的服务，立志成为最有影响力的服务市场领导品牌。">
    <meta name="author" content="jia">
    <meta name="copyright" content="昆明复永科技有限公司">
    <meta name="date" content="2017">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
  <div style="min-height: 1020px;">
    <%= yield %>
  </div>
    <%= javascript_include_tag 'after', 'data-turbolinks-track': 'reload' %>
    <%= render 'layerend' %>
  </body>


</html>
